* {
  padding: 0%;
  margin: 0%;
}

:root {
  /* #252525 */
  --bg-color: rgb(37, 42, 47);
  --bg-color1: rgb(37, 42, 47);
  --second-bg-color: #131313;
  --text-color: rgb(161, 161, 161);
  --main-color: #00eeff;
  --color1: rgb(9, 164, 230);
  --MNFcolor: rgba(255, 255, 255, 0.827);
  /* border-shadows */
  --shadow-lower: #000;
  --shadow-upper: #353535;
}

.light-theme {
  --bg-color: #ffffff;
  --second-bg-color: #f0f0f0;
  --text-color: #000000;
  --main-color: #007bff;
}

body {
  background: var(--bg-color);
  /* overflow: hidden; */
  height: 97vh;
  width: 98vw;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  border-radius: 15px;
  box-shadow: 4px 4px 10px var(--shadow-lower), -2px -4px 6px var(--shadow-upper);
  transition: all 0.6s ease;
}

body:hover {
  box-shadow: 4px 4px 10px var(--shadow-lower), -4px -4px 6px var(--shadow-upper),
    inset -2px -2px 4px var(--shadow-upper), inset 2px 2px 10px var(--shadow-lower);
  transition: box-shadow 0.2s ease-in-out;
}

header {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;

}

/*_______________________________ Navbar Buttons __________________________________*/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px dashed rgb(81, 80, 80); */
  gap: 1%;
  padding: 0.2% 0.2% 0% 0.2%;
  border-radius: 20px;
  width: 92vw;
  height: 4rem;
  box-shadow: 4px 4px 10px var(--shadow-lower), -2px -4px 6px var(--shadow-upper);
  color: var(--text-color);

}

/* #navbar:hover{
    box-shadow: 4px 4px 10px #000, -4px -4px 10px #353535,
    inset -2px -2px 4px #353535,inset 2px 2px 4px #000;
} */

.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  border: 0;
  border-radius: inherit;
  font-size: 95%;
  font-family: "SF Pro Text", "SF Pro Icons";
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #00eeff6e;
  background: radial-gradient(ellipse at bottom,
      #1d81881c 0%,
      var(--bg-color) 45%);
  transition: all 0.5s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.navBtn::before {
  content: "";
  width: 70%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 15%;

  background: var(--main-color);
  background: linear-gradient(90deg, var(--bg-color) 0%, var(--main-color) 50%, var(--bg-color) 100%);
  opacity: 0.1;

  transition: all 0.5s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.navBtn:hover {
  color: var(--main-color);
  /* transform: scale(0.97); */
  background: radial-gradient(ellipse at bottom, #00eeff31 0%, var(--bg-color) 45%);
  box-shadow: inset -2px -2px 6px #353535, inset 4px 4px 6px #000000ab;
  transition: all 0.3s ease;
}

.navBtn:hover::before {
  opacity: 1;
  transition: all 0s ease;
}

/*------------------------------- Navbar Buttons End ----------------------------------*/

/*_______________________________ Main Body __________________________________*/
.mbody {
  display: flex;
  gap: 1.5%;
  height: 70vh;
  width: 94%;
  margin: 0px 2.9%;
  border-radius: 20px;
  /* box-shadow: 4px 4px 10px var(--shadow-lower), -2px -4px 6px var(--shadow-upper); */
  border-radius: 25px;
}

.textpart:hover {
  box-shadow: 4px 4px 10px #000, -4px -4px 10px #353535,
    inset -2px -2px 4px #353535, inset 2px 2px 10px #000;
  transition: box-shadow 0.6s ease-in-out;
}

.textpart {
  width: 50%;
  height: 100%;
  padding: 2%;
  box-shadow: 4px 4px 10px var(--shadow-lower), -2px -4px 6px var(--shadow-upper);
  color: var(--text-color);
  border-radius: 25px;
  /* padding: 1rem; */
  transition: box-shadow 0.6s ease-in-out;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.profile {
  position: relative;
  width: 20%;
  height: 100%;
  padding: 2%;
  padding-left: 1.5%;
  border-radius: inherit;
  /* border-left: 2px dotted   red; */
  /* border-right: 2px dotted aqua; */
  transition: all 1s ease-in-out;
  box-shadow: 4px 4px 10px var(--shadow-lower), -2px -4px 6px var(--shadow-upper);
  flex-grow: 1;
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  /* background: lightgrey; */
  border-radius: 280px 45px 300px 300px;
  border-left: 2px dotted red;
  border-right: 2px dotted aqua;
  overflow: hidden;
  transition: all 1s ease-in-out;
  perspective: 1000px;
}

/* .logo {
  width: 19rem;
  height: 19rem;
} */

.logo-svg {
  /* width: 19rem;
  height: 19rem; */
  /* border-radius: 300px 300px 300px 300px; */
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
  transform: translateZ(20px);
}

.card:hover .logo-svg {
  border-radius: 280px 45px 300px 300px;

  transition: all 0.7s ease;
}

.icon {
  display: inline-block;
  width: 1.5rem;
  /* height: 1rem; */
}

/* icons html */
.icon .svg {
  fill: rgba(255, 255, 255, 0.797);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.box {
  position: absolute;
  padding: 0.8rem;
  margin: 0.8rem;
  /* text-align: right; */
  display: flex;
  flex-direction: row-reverse;
  background: rgba(255, 255, 255, 0.022);
  border-top: 2px dotted red;
  border-right: 1px dotted var(--main-color);
  border-radius: 50% 2% 50% 2%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  /* transform-origin: bottom left; */
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.box:hover .svg {
  fill: white;
}

.box1 {
  width: 80%;
  height: 80%;
  bottom: -95%;
  left: -95%;
}

/* .box1::before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
} */

.box1:hover::before {
  opacity: 1;
}

.box1:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box2 {
  width: 65%;
  height: 65%;
  bottom: -80%;
  left: -80%;
  transition-delay: 0.2s;
}

/* .box2::before {
  background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
} */

.box2:hover::before {
  opacity: 1;
}

.box2:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box3 {
  width: 50%;
  height: 50%;
  bottom: -65%;
  left: -65%;
  transition-delay: 0.4s;
  color: var(--main-color);
}

/* .box3::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
} */

.box3:hover::before {
  opacity: 1;
}

.box3:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box4 {
  width: 35%;
  height: 35%;
  bottom: -53%;
  left: -53%;
  transition-delay: 0.6s;
  color: #007bff;
}

.card:hover {
  transform: scale(1.07);
}

.card:hover .box {
  bottom: -2px;
  left: -2px;
}

.card:hover .logo-svg {
  /* transform: translate(0,);
  bottom: 20px;
  right: 20px; */
  filter: blur(3px);
}

/* ____________________________Main Body End______________________________ */

.home {
  height: 100%;
}

.home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-content h3 {
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.home-content p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  text-align: justify;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1rem;
  color: var(--main-color);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  /* 
    margin: 12px;
  height: 50px;
  width: 120px;
  border-radius: 10px; */
  background: var(--bg-color);
  /* justify-content: center;
  align-items: center; */
  box-shadow: -5px -5px 17px #3b3b3b, 5px 5px 15px #222, inset 5px 5px 10px #444,
    inset -5px -5px 10px #222;
  font-family: "Damion", cursive;
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: rgb(161, 161, 161);
  transition: 1000ms;


}

.btn:hover {
  transform: scale(1.09);
  color: var(--main-color);
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.text-animation {
  font-size: 2.5rem !important;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "web developer";
  color: var(--main-color);
  animation: words 20s infinite;
  filter: blur(1px);
}

.text-animation span::after {
  content: "";
  background: var(--bg-color);
  position: absolute;
  width: calc(70% + 300px);
  height: 100%;
  padding-left: 5px;
  border-left: 3px solid var(--bg-color);
  right: -80px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid var(--main-color);
  }
}

@keyframes words {

  0%,
  20% {
    content: "Tech Enthusiast & Learner";
  }

  21%,
  40% {
    content: "Javascript Developer";
  }

  41%,
  60% {
    content: "React Developer";
  }

  61%,
  80% {
    content: "Web Developer";
  }

  81%,
  100% {
    content: "Frontend Designer";
  }
}

@keyframes typing {

  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 14%;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 80px);
  }
}







/* For Mobile Responsiveness */

@media (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
  }

  body {
    margin: 0%;
    width: 100%;
    height: 100vh;
    margin: 0%;
  }

  .profile {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12rem !important;
    margin-left: -0.1rem;
    /* height: 150px !important;
    width: 150px !important;
    border-radius: 150px 20px 150px 150px !important; */
  }

  .card {
    height: 10rem;
    width: 10rem;
  }

  .logo-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 160px;
    object-fit: contain;
  }

  .mbody {
    margin-top: 0.7rem;
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
  }

  .textpart {
    width: 100% !important;
    height: 16rem;
    font-size: 1rem;
    border-radius: 0.5rem;
  }

  header {
    padding: 0.5rem;
  }

  #navbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
    height: 2.3rem;
    width: 100%;
    border-radius: 5px;
    padding: 1px;

  }

  .navBtn {
    letter-spacing: 0.2px;
    width: 5rem;
    height: 2.4rem;
    font-size: 0.4rem;
    color: var(--MNFcolor);
    background: linear-gradient(90deg, var(--main-color), var(--shadow-upper));
  }

  /* Animation section */
  .text-animation {
    font-size: 1.2rem !important;
  }

  .text-animation span::after {
    content: "";
    background: #252525;
    position: absolute;
    width: calc(70% + 300px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -70px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
  }
  .home-content h3 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  }

  .home-content p {
    font-size: 0.8rem;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.7rem;
    width: 1rem;
    font-size: small;

  }

  .btn-group {
    top: 16rem;
    position: relative;
  }

}